name: Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
